<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="footer">
        <div id="f" class="social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div id="f_brand">
            <p>WonderLust private limted .itc</p>
        </div>
        <div id="f_content">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</body>

</html>